<<<<<<< HEAD
:Root {

  --rocketPurple : #990099;
  --rocketDark: #4500A4;
  --rocketAlt: #751ECA;
  --rocketBlue: #503EFF;
  --rocketLight: #D257FC; 
}

=======
>>>>>>> 7c855b81c2c083dab2aa4f7b6aab87b38926a5ad
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
